# Merging and Exporting Data

## 01. Importing Libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [3]:
path = r'C:\Users\rajkaran\Documents\CareerFoundry- Data Analytics Program\2. Data Immersion\Achievements 4 - Tasks\07-06-2024 Instacart Basket Analysis\02 Data'

In [4]:
print(path)

C:\Users\rajkaran\Documents\CareerFoundry- Data Analytics Program\2. Data Immersion\Achievements 4 - Tasks\07-06-2024 Instacart Basket Analysis\02 Data

In [5]:
# Reading CSV files orders & products
df_ords_prior = pd.read_csv (os.path.join(path,'Original Data','orders_products_prior.csv'), index_col = False)

In [6]:
df_ords = pd.read_csv (os.path.join(path,'Prepared Data','orders_consistency_check_cleaned.csv'), index_col = 0)

# Check the Output of Dataframes

In [7]:
# df_ords.reset_index(drop=True, inplace=True)
# df_ords.set_index('order_id', inplace=True)

df_ords.drop(columns=['Unnamed: 0'], inplace=True)
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [8]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.shape

(3421083, 6)

#  Merge df_prods with df_ords

In [12]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

# Confirm the results of the merge using the merge flag

In [13]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [14]:
#Using the value_counts() function lets you quickly sum up all the values in the “_merge” column.
#letting you see instantly whether you have a full match or not.

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [19]:
#Export orders_products_merged file

df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))