# 01. Importing Libraries

In [43]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [54]:
path = r'/Users/rkaran/Documents/careerfoundary/02 Data'

In [56]:
print(path)

/Users/rkaran/Documents/careerfoundary/02 Data

In [60]:
# Import dataset orders_products_combined.pkl

df_ords_prods_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [62]:
# Import dataset products_checked.csv

df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'product_consistency_check_cleaned.csv'), index_col = False)

# 03. Check the dimensions of the imported dataframes

In [65]:
# Check the output
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [67]:
df_ords_prods_combined.shape

(32434489, 10)

In [69]:
# Check the output
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [71]:
# Drop unnecessary columns
df_prods = df_prods.drop(columns=['Unnamed: 0'])

In [73]:
# Check the output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [75]:
df_prods.shape

(49677, 5)

In [77]:
print(df_prods.columns)

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [79]:
print(df_ords_prods_combined.columns)

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

# 04. Determine a suitable way to combine the orders_products_combined dataframe with the products data set

In [82]:
df_merged_large = df_prods.merge(df_ords_prods_combined, on = 'product_id')

In [83]:
df_merged_large.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

# 05. Use the indicator argument to check whether there was a full match between the two dataframes

In [85]:
df_merged_large['_merge'].value_counts()

_merge
both          32406041
left_only            0
right_only           0
Name: count, dtype: int64

# 06. Export data in pickle format

In [90]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'ords_prods_merge.pkl'))