### Task 01. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

In [2]:
# Set path
path = r'C:\Users\lance\Documents\Achievement 4 Project'

In [3]:
# Import and define dataframe including newly derived columns from the previous exercise
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined_merged_new_variables_derived.pkl'))

In [8]:
# Check dimensions of imported dataframe for consistency
ords_prods_merge.shape

(32399732, 21)

### Task 02. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe

In [4]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.667853
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

### Task 03. Analyze the result. How do the results for the entire dataframe differ from those of the subset?

In [5]:
# Compared to the results from the subset, the results from the entire dataframe includes ALL 'department_id' values
# Additionally, the mean values for the department ids present in the subset have all changed.
# Some have increased while others decreased
# For example, in the subset department id 4 had a mean value of '18.825780', while in the entire dataframe it has a mean value of '17.811403'

### Task 04. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [ ]:
# These operations were already performed on the dataframe during the exercise

In [6]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,False,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,False,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,False,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
15,2293453,19,2,5,14,6.0,False,196,3,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
16,1973799,19,5,6,12,8.0,False,196,15,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
17,532817,19,7,4,17,6.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9,New customer
18,1573906,21,10,3,10,6.0,False,196,2,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer
19,1593000,31,10,3,8,7.0,False,196,17,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer

In [7]:
# As you can see the 'max_orders' and 'loyalty_flag' columns are already in place

In [52]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15874128
Loyal customer      10282763
New customer         6242836
Name: count, dtype: int64

### Task 05. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [11]:
# Use the 'groupby' function to split the data into groups based on the 'loyalty_flags' column
# Aggregate the data based on prices, providing basic statistics such as mean, min, max, std and median
# The results show the average prices of the products purchased by each category of customer (loyal, regular, new)
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'std', 'median']})

                    prices
                      mean  min   max       std median
loyalty_flag
Loyal customer    7.773575  1.0  25.0  4.206151    7.4
New customer      7.801206  1.0  25.0  4.266834    7.4
Regular customer  7.798262  1.0  25.0  4.254886    7.4

In [ ]:
# Removing the outliers priced 99999 seems to have influenced the mean heavily
# These means are drastically different than other submissions

### Task 06. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
1. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender”
2. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [53]:
# Create a new column for the average spending of a customer
ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [54]:
# Check the new column
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,customer_frequency,frequency_flag,average_spend
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,20.5,Non-frequent customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,20.5,Non-frequent customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,20.5,Non-frequent customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,20.5,Non-frequent customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,20.5,Non-frequent customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,10.0,Frequent customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,10.0,Frequent customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,10.0,Frequent customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,10.0,Frequent customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,10.0,Frequent customer,3.980556
15,2293453,19,2,5,14,6.0,False,196,3,0,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,6.0,Frequent customer,8.372059
16,1973799,19,5,6,12,8.0,False,196,15,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,6.0,Frequent customer,8.372059
17,532817,19,7,4,17,6.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,6.0,Frequent customer,8.372059
18,1573906,21,10,3,10,6.0,False,196,2,0,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,7.5,Frequent customer,7.012683
19,1593000,31,10,3,8,7.0,False,196,17,0,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer,6.0,Frequent customer,8.137793

In [55]:
# Assign spender tag to each customer
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

In [56]:
ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [57]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     32280008
High_spender      119719
Name: count, dtype: int64

In [58]:
# The results show a relatively low number of high spenders, once again, likely due to the removal of outliers

### Task 07. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
1. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a 'Non-frequent customer'
2. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a 'Regular customer'
3. If the median is lower than or equal to 10, then the customer should be labeled a 'Frequent customer'

In [17]:
# Create a new column for customer frequency flags based on the median values from 'days_since_prior_order' column
ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [59]:
# Check that the column was created successfully and properly
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,customer_frequency,frequency_flag,average_spend,spender_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
5,3367565,1,6,2,7,19.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
6,550135,1,7,1,9,20.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
7,3108588,1,8,1,14,14.0,False,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
8,2295261,1,9,1,16,0.0,False,196,4,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
9,2550362,1,10,4,8,30.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,20.5,Non-frequent customer,6.367797,Low_spender
10,2968173,15,15,1,9,7.0,False,196,2,0,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,10.0,Frequent customer,3.980556,Low_spender
11,1870022,15,17,2,16,8.0,False,196,6,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,10.0,Frequent customer,3.980556,Low_spender
12,1911383,15,18,2,11,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,10.0,Frequent customer,3.980556,Low_spender
13,2715276,15,21,1,9,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,10.0,Frequent customer,3.980556,Low_spender
14,487368,15,22,1,10,14.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,10.0,Frequent customer,3.980556,Low_spender
15,2293453,19,2,5,14,6.0,False,196,3,0,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,6.0,Frequent customer,8.372059,Low_spender
16,1973799,19,5,6,12,8.0,False,196,15,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,6.0,Frequent customer,8.372059,Low_spender
17,532817,19,7,4,17,6.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,6.0,Frequent customer,8.372059,Low_spender
18,1573906,21,10,3,10,6.0,False,196,2,0,...,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,7.5,Frequent customer,7.012683,Low_spender
19,1593000,31,10,3,8,7.0,False,196,17,0,...,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer,6.0,Frequent customer,8.137793,Low_spender

In [21]:
# Based on the criteria provided, create a column featuring order frequency flags
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [22]:
ords_prods_merge.loc[(ords_prods_merge['customer_frequency'] > 10) & (ords_prods_merge['customer_frequency'] <=20), 'frequency_flag'] = 'Regular customer'

In [23]:
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [39]:
# Check value counts for new column
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21556644
Regular customer          7207340
Non-frequent customer     3635743
Name: count, dtype: int64

In [43]:
ords_prods_merge[['user_id', 'customer_frequency', 'frequency_flag']].head(60)

    user_id  customer_frequency         frequency_flag
0         1                20.5  Non-frequent customer
1         1                20.5  Non-frequent customer
2         1                20.5  Non-frequent customer
3         1                20.5  Non-frequent customer
4         1                20.5  Non-frequent customer
5         1                20.5  Non-frequent customer
6         1                20.5  Non-frequent customer
7         1                20.5  Non-frequent customer
8         1                20.5  Non-frequent customer
9         1                20.5  Non-frequent customer
10       15                10.0      Frequent customer
11       15                10.0      Frequent customer
12       15                10.0      Frequent customer
13       15                10.0      Frequent customer
14       15                10.0      Frequent customer
15       19                 6.0      Frequent customer
16       19                 6.0      Frequent customer
17       19                 6.0      Frequent customer
18       21                 7.5      Frequent customer
19       31                 6.0      Frequent customer
20       31                 6.0      Frequent customer
21       43                10.0      Frequent customer
22       43                10.0      Frequent customer
23       52                 8.0      Frequent customer
24       52                 8.0      Frequent customer
25       52                 8.0      Frequent customer
26       52                 8.0      Frequent customer
27       52                 8.0      Frequent customer
28       52                 8.0      Frequent customer
29       52                 8.0      Frequent customer
30       52                 8.0      Frequent customer
31       52                 8.0      Frequent customer
32       52                 8.0      Frequent customer
33       52                 8.0      Frequent customer
34       52                 8.0      Frequent customer
35       52                 8.0      Frequent customer
36       52                 8.0      Frequent customer
37       67                 7.0      Frequent customer
38       67                 7.0      Frequent customer
39       67                 7.0      Frequent customer
40       67                 7.0      Frequent customer
41       67                 7.0      Frequent customer
42       67                 7.0      Frequent customer
43       67                 7.0      Frequent customer
44       67                 7.0      Frequent customer
45       67                 7.0      Frequent customer
46       67                 7.0      Frequent customer
47       67                 7.0      Frequent customer
48       67                 7.0      Frequent customer
49       67                 7.0      Frequent customer
50       67                 7.0      Frequent customer
51       67                 7.0      Frequent customer
52       67                 7.0      Frequent customer
53       67                 7.0      Frequent customer
54       67                 7.0      Frequent customer
55       67                 7.0      Frequent customer
56       81                30.0  Non-frequent customer
57       81                30.0  Non-frequent customer
58       82                11.5       Regular customer
59       82                11.5       Regular customer

### 09. Export your dataframe as a pickle file and store it correctly in your 'Prepared Data' folder

In [60]:
# Check shape before exporting
ords_prods_merge.shape

(32399727, 25)

In [61]:
# Export the updated dataframe as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined_merged_new_variables_derived_aggregated.pkl'))